# dependencies
node_modules
/storybook-static
/platforms
/plugins
/www
/reports
/.idea
/.ionic
/.sourcemaps
/.versions
/.vscode
/.angular/cache/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/bytebank/.angular